{% comment %} Hero {% endcomment %}
<section id="section-hero" class="section-hero product-hero" style="background-image: url({{ 'about-page-hero.jpg' | asset_url }})">
  <div class="copy-hover-box copy-hover-box-product white">
    <h2 class="americane regular white uppercase hero-title">About Us</h2>
    <h2 class="americane regular white uppercase hero-subtitle" style="margin-left: 0">Connection. Community.</br>Café Mexicano.</h2>
  </div>
</section>

<div class="full-width center">
<div class="lock-width">
  {% comment %} Savor The Moment {% endcomment %}
    <section id="intro" class="full-width center double-section padding-top-bottom relative">
      <span id="anchor" class="anchor"></span>
      <div class="two-fifth-width left auto-margin text-left intro-copy">
          <h2 class="americane regular title uppercase">Our Story</h2>
          <p class="copy mark">Sabormex has produced Mexican coffee for over 75 years and distributed it throughout the country. They continue to maintain rich relationships with the farmers and communities that grow and harvest coffee beans. As a result, Café Mexicano has access to the same high-quality beans and processes. It is the only coffee brand in the U.S. that is exclusively grown, harvested, and roasted in Mexico. No multi-country blends here. We are the most authentic Mexican coffee available in the U.S., made with 100% Arabica specialty beans that are roasted at origin.</p>
      </div>
      <div class="half-width center align intro-products">
        <div class="full-width center">
          <img src="{{ 'About-man.jpg' | asset_url }}" class="intro-image" alt="Savor The Moment">
        </div>
      </div>
    </section>
</div>
</div>

{% comment %} Savor The Moment {% endcomment %}
<section class="full-width center center-copy-box-section padding-top-bottom" style="background-image: url({{ 'Statement.jpg' | asset_url }})">
  <div class="center-copy-box center text-center white-border">
    <div class="full-width center">
      <img src="{{ 'Bean.png' | asset_url }}" class="box-logo" alt="Savor The Moment">
    </div>
      <h2 class="americane regular white title">The Coffee Growing</br>Regions of Mexico</h2>
      <p class="copy">Mexican coffee is very balanced, light acidity and a smooth finish, some of the most pleasant coffee you can drink. Mexico is one of the best places, topographically speaking, for cultivating Arabica coffee. The mountain-range altitude, jungle climate, and enriched soil conditions found in the southern regions of the country make it an ideal environment for producing high-quality coffee. All of Café Mexicano’s coffees are sourced from these regions in Mexico, making it one of the only fully Mexican coffees available to consumers. ¡Viva Mexico!</p>
      {% comment %} <a href="/pages/coffee" class="button white white-border veneer maroon-hover">EXPLORE COFFEE</a> {% endcomment %}
  </div>
</section>

{% comment %} Map Section {% endcomment %}
<div class="map-section center padding-top-bottom">
  <h2 class="americane regular uppercase title title-margin-bottom full-width">Regions</h2>
  {% comment %} Chiapas Map {% endcomment %}
  <div class="map center relative">
    <img src="{{ 'Chiapas-map.jpg' | asset_url }}" class="map-width" alt="Savor The Moment">
    <div class="center pins Chiapas-one">
      <div class="pin-box full-width copy mark"><p>A rich culture, large indigenous population, and 10 federally recognized ethnicities.</p></div>
      <div class="full-width center pin-container">
        <div class="pin pin-bg-orange"><span class="orange hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Chiapas-two">
      <div class="pin-box full-width copy mark"><p>Legacy of Spanish rule and ancient Mayan ruins</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-orange"><span class="orange hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Chiapas-three">
      <div class="pin-box full-width copy mark"><p>Grows a leading share of Mexico’s coffee, bananas, and cacao.</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-orange"><span class="orange hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
  </div>
  {% comment %} Oaxaca Map {% endcomment %}
  <div class="map center relative">
    <img src="{{ 'Oaxaca-map.jpg' | asset_url }}" class="map-width" alt="Savor The Moment">
    <div class="center pins Oaxaca-one">
      <div class="pin-box full-width copy mark"><p>Known for being a culture of colorful handiworks</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-maroon"><span class="maroon hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Oaxaca-two">
      <div class="pin-box full-width copy mark"><p>Foodie capital of Mexico</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-maroon"><span class="maroon hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Oaxaca-three">
      <div class="pin-box full-width copy mark"><p>Subsistence farmers grow coffee, sugarcane, and tropical fruits</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-maroon"><span class="maroon hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
  </div>
  <div class="map center relative">
    <img src="{{ 'Puebla-map.jpg' | asset_url }}" class="map-width" alt="Savor The Moment">
    <div class="center pins Chiapas-one">
      <div class="pin-box full-width copy mark"><p>Sprawling mountain landscapes and smoking volcanos</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-yellow"><span class="yellow hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Chiapas-two">
      <div class="pin-box full-width copy mark"><p>Birthplace of mole poblano sauce and Cinco de Mayo</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-yellow"><span class="yellow hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Chiapas-three">
      <div class="pin-box full-width copy mark"><p>Home of archeological sites like the great pyramid at Cholula</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-yellow"><span class="yellow hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
  </div>
  <div class="map center relative">
    <img src="{{ 'Veracruz-map.jpg' | asset_url }}" class="map-width" alt="Savor The Moment">
    <div class="center pins Veracruz-one">
      <div class="pin-box full-width copy mark"><p>Capital city founded by Hernán Cortés while searching for gold in the region</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-blue"><span class="blue hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Veracruz-two">
      <div class="pin-box full-width copy mark"><p>Chief agricultural products include coffee, vanilla, sugarcane, and coconuts.</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-blue"><span class="blue hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
    <div class="center pins Veracruz-three">
      <div class="pin-box full-width copy mark"><p>The Mexican coastline where the Spanish conquest of the Aztecs began.</p></div>
      <div class="full-width center pin-container align">
        <div class="pin pin-bg-blue"><span class="blue hero-subtitle bold uppercase">x</span></div>
      </div>
    </div>
  </div>
</div>

{% comment %} Statement Section {% endcomment %}
<section class="full-width center center-copy-box-section padding-top-bottom" style="background-image: url({{ 'Statement2.jpg' | asset_url }})">
  <div class="center-copy-box center text-center white-border">
    <div class="full-width center">
      <img src="{{ 'Bean.png' | asset_url }}" class="box-logo" alt="Savor The Moment">
    </div>
    <h2 class="americane regular white title">The People Who</br>Grow Our Coffee</h2>
      <p class="copy">By its very nature as a conversational beverage, coffee is communal. In Mexico, people drink it throughout the day and into the evening, pairing it with savory dishes like tamales and desserts like flan. The Mexican economy has been supported by generations of coffee farmers, most with farms smaller than 10 hectors (24 acres). The average farmer has 1 to 3 hectors of land (1 hector is 2.4 acres of land). Among those supplying beans for Café Mexicano, the average farm is one to three hectors and growing techniques have been passed down from one generation to the next.</p>
      {% comment %} <a href="/pages/coffee" class="button white white-border veneer maroon-hover">EXPLORE COFFEE</a> {% endcomment %}
  </div>
</section>

<div class="full-width center">
<div class="lock-width">
  {% comment %} Statement Section {% endcomment %}
    <section id="intro" class="full-width center reverse double-section padding-top-bottom relative">
      <span id="anchor" class="anchor"></span>
      <div class="two-fifth-width left auto-margin text-left intro-copy">
          <h2 class="americane regular title uppercase">Giving Back to</br>Coffee Communities</h2>
          <p class="copy mark">Jóvenes por la Caficultura Sostenible (Youth for Sustainable Coffee Farming) is a community program funded by proceeds from Café Mexicano. The program serves to educate young people from coffee-growing families in Chiapas, Oaxaca, Puebla, and Veracruz.</p>
          <p class="copy mark">In addition to strengthening their knowledge, students from the next generation learn skills to ensure a successful future. Coursework includes the following modules:</p>
          <p class="copy mark">
            <li class="copy mark">Basic Accounting and Finance of the Rural Family Business</li>
            <li class="copy mark">Productivity and Sustainable Quality</li>
            <li class="copy mark">Business Model Innovation</li>
            <li class="copy mark">Critical Aspects of Technical Crop Management</li>
            <li class="copy mark">Regenerative Agriculture</li>
          </p>
      </div>
      <div class="half-width center align intro-products">
        <div class="full-width center about-image">
          <img src="{{ 'mexico-street.jpg' | asset_url }}" class="intro-image" alt="Savor The Moment">
        </div>
      </div>
    </section>
</div>
</div>


<script>
  // Pins
  var pins = document.querySelectorAll('.pins');
  var pinsArray = [...pins];
  var pastNode = null;

  pinsArray.forEach((currentNode, index) => {
      currentNode.addEventListener("click", () => {
        if (currentNode.classList.contains('expanded')) {
          pastNode = null;
          currentNode.classList.remove('expanded');
        }
        else{
          if(pastNode){
            pastNode.classList.remove('expanded');
          }
          currentNode.classList.add('expanded');
          pastNode = currentNode;
        }
      });
    })
</script>